

<div class="events">

  <section ng-repeat="post in $ctrl.posts" class="event">
   <div class="details">
    <p>{{ post.name}}</p>
    <p>{{post.dates.start.localDate}}</p>
   </div>
    <img src="{{post.images[7].url}}" width="400px">

    <div class="buttons">
      <button class="btn" ng-click="$ctrl.toggle = !$ctrl.toggle">Details</button>
      <a ng-click="$ctrl.saveFavorite(post)">
        <i class="far fa-star"></i>
      </a>
    </div>
    
    <div class="eventDetails" ng-class="{'hide' : $ctrl.toggle}">
      <p>Genre: {{post.classifications[0].genre.name}}</p>
      <p>{{post._embedded.venues[0].name}}</p>
      <p>Starting at: {{post.priceRanges[0].min | currency}}</p>
      <p>{{post.ticketLimit.info}}</p>
      <a href="{{post.url}}">Get Your Tickets Now!</a>
    </div>
  </section>
</div>
