<div class="events">

  <section ng-repeat="item in $ctrl.favorites" class="event">
    <div class="details">
      <p>{{item.name}}</p>
      <p>{{item.dates.start.localDate}}</p>
    </div>
    <img src="{{item.images[7].url}}" width="400px">
    
    <div class="buttons">
        <div class="detailbuttons">
        <a class="btn" ng-click="$ctrl.toggle = item; showDiv=true;">
          <i class="fas fa-angle-down" ng-hide="showDiv"></i>
        </a>
        <a class="close" ng-click="$ctrl.toggle = false; showDiv=false;">
          <i class="fas fa-times" ng-hide="!showDiv"></i>
        </a>
      </div>
      <div class="favbuttons">
        <a ng-click="$ctrl.removeFavorite(item);">
          <i class="fas fa-star"></i>
        </a>
      </div>
      </div>

    <div class="animated bounceIn eventDetails" ng-class="{'hide' : $ctrl.toggle != item}">

      <p>Genre: {{item.classifications[0].genre.name}}</p>
      <p>{{item._embedded.venues[0].name}}</p>
      <p>Starting at: {{item.priceRanges[0].min | currency}}</p>
      <p>{{item.ticketLimit.info}}</p>
      <a href="{{item.url}}">Get Your Tickets Now!</a>
      
    </div>
  </section>
  <div class="noshows" ng-show="{{favorites.length == 0}}"><p>sorry, no favs bro</p></div>
</div>
